// Mixins
@mixin align-items($position) {
  align-items: #{$position};
  display: flex;
}

// Element
@mixin element($name) {
  &__#{$name} {
    @content;
  }
}

// Modifier
@mixin modifier($name) {
  &--#{$name} {
    @content;
  }
}

// Buttons
$secondary-color: #868e96;

.btn {
  cursor: pointer;
}

.btn-lg {
  font-size: 17px;
  line-height: 1rem;
  padding: 1.25rem 2rem;
}

.btn-outline-secondary {
  &:hover {
    background: transparent;
    border-color: darken($secondary-color, 10%);
    color: darken($secondary-color, 10%);
  }
}

// Form
.form-control {
  padding: 1.25rem;
}

.circle {
  border-radius: 100%;
}
