.contact {
  @include clearfix;
  background: $darkgreen;
  color: $white;
  padding: 120px 0;

  @include media-breakpoint-down(sm) {
    padding: 75px 0;
  }

  h2 {
    font-size: 45px;
    font-weight: $font-weight-sans-light;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 15px;
    }
  }

  p {
    font-family: $font-family-sc;
    font-size: 20px;
    font-weight: $font-weight-sc-medium;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: lowercase;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 45px;
    }
  }

  .form-group {
    background: $white;
    margin-bottom: 30px;
    position: relative;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    .arrow {
      position: absolute;
      right: 30px;
      top: 30px;

      @include media-breakpoint-down(sm) {
        height: 9px;
        right: 15px;
        top: 26px;
        width: 22px;
      }
    }
  }

  .form-control {
    border: 0;
    font-size: 26px;
    line-height: 45px;
    outline: none;
    padding: 15px 30px;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      line-height: 30px;
      padding: 15px;
    }

    &:focus,
    &:active {
      border: 0;
    }
  }

  input {
    &.form-control {
      appearance: none;
      height: 75px;

      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
  }

  select {
    &.form-control {
      &:not([size]):not([multiple]) { // sass-lint:disable-line force-pseudo-nesting
        appearance: none;
        height: 75px;

        @include media-breakpoint-down(sm) {
          height: 60px;
        }
      }
    }
  }

  textarea {
    &.form-control {
      resize: none;
    }
  }

  button {
    color: $white;
    cursor: pointer;
    font-family: $font-family-sc;
    font-size: 26px;
    font-weight: $font-weight-sc-medium;
    height: 75px;
    letter-spacing: 2px;
    line-height: 45px;
    text-transform: lowercase;
    width: 225px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
