#features { // sass-lint:disable-line no-ids
  .carousel-item {
    background: $spanishgray;
    height: calc(100vh - 105px);

    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;

      @include media-breakpoint-down(sm) {
        height: calc(100% - 150px);
        width: 100%;
      }
    }
  }

  .carousel-caption {
    align-items: center;
    background: $darkgreen;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: left;
    top: 0;
    width: 40%;

    @include media-breakpoint-down(sm) {
      bottom: 0;
      height: 150px;
      top: auto;
      width: 100%;
    }

    span {
      color: $spanishgray;
      display: block;
      font-family: $font-family-sc;
      font-size: 20px;
      font-weight: $font-weight-sc-regular;
      line-height: 30px;
      margin-bottom: 60px;
      text-transform: lowercase;

      @include media-breakpoint-down(sm) {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 5px;
      }
    }

    strong {
      color: $meadow;
      display: block;
      font-size: 142px;
      font-weight: $font-weight-sans-light;
      line-height: 120px;
      margin-bottom: 60px;

      @include media-breakpoint-down(sm) {
        display: inline-block;
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 15px;
      }
    }

    h3 {
      font-size: 30px;
      font-weight: $font-weight-sans-light;
      line-height: 45px;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .carousel-caption-inner {
    max-width: 290px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 0 30px;
      text-align: center;
      width: 100%;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;

    @include media-breakpoint-down(sm) {
      height: calc(100% - 150px);
      width: 20%;
    }
  }

  .carousel-control-prev-icon {
    background-image: url('../images/arrow-left.png');
    height: 73px;
    width: 40px;
  }

  .carousel-control-next-icon {
    background-image: url('../images/arrow-right.png');
    height: 73px;
    width: 40px;
  }
}
