%nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 45px;

    @include media-breakpoint-down(sm) {
      margin-left: 30px;
    }

    &:first-child {
      margin: 0;
    }
  }

  a {
    color: $white;
    font-family: $font-family-sc;
    font-size: 20px;
    font-weight: $font-weight-sc-medium;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-decoration: none;
    transition: $base-transition;

    &:hover {
      color: $wintergreen;
    }
  }
}

.navigation {
  padding: 60px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: $base-transition;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  & > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @include element('branding') {
    @extend .text-hide;

    width: 115px;
    height: 45px;
    color: $white;
    font-family: $font-family-sc;
    letter-spacing: 2px;
    font-weight: $font-weight-sc-medium;
    background: url('../images/logo.png') no-repeat top;
  }

  @include element('sections') {
    @extend %nav-links;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  @include element('social') {
    @extend %nav-links;
  }

  @include modifier('inverse') {
    background: $white;
    padding: 30px 0;

    a {
      color: $darkgreen;
    }

    .facebook {
      color: $facebook;
    }

    .instagram {
      color: $instagram;
    }

    .navigation__branding {
      background-position: bottom;
      color: $darkgreen;
    }
  }
}
