// Colors
$white       : #fff;
$platinum    : #dee5e5;
$meadow      : #17b890;
$wintergreen : #5e807f;
$darkgreen   : #082d0f;
$spanishgray : #95a08a;
$facebook    : #3b5998;
$instagram   : #fb3958;

$primary: $meadow;

// Typography
$font-family-base         : 'Alegreya Sans', sans-serif;
$font-family-sc           : 'Alegreya Sans SC', sans-serif;
$font-weight-sans-light   : 300;
$font-weight-sans-regular : 400;
$font-weight-sans-bold    : 700;
$font-weight-sc-regular   : 400;
$font-weight-sc-medium    : 500;

$font-size-small   : 15px;
$font-size-p       : 20px;
$font-size-h3      : 30px;
$font-size-h2      : 45px;
$font-size-h1      : 60px;

$line-height-small : 15px;
$line-height-p     : 30px;
$line-height-h3    : 45px;
$line-height-h2    : 60px;
$line-height-h1    : 75px;

$border-radius: 0;
$base-transition: 0.3s;
