$blue: #3d8abf;
$riflegreen: #26cad3;

// Typography
$font-family-base   : acumin-pro, sans-serif;
$font-size-base     : 1rem;
$font-weight-light  : 300;
$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold   : 600;

$line-height-base: 1.125;

$lead-font-size : $font-size-base * 1.375;
$h1-font-size   : $font-size-base * 2.875;
$h3-font-size   : $font-size-base * 2.25;

$grid-gutter-width: 40px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1225px
);
$border-radius: 0.375rem;

$base-timing: 0.4s;
$transition-base: all $base-timing ease-in-out;
$transition-fade: opacity $base-timing linear;
$btn-transition: background-color $base-timing ease-in-out, border-color $base-timing ease-in-out, box-shadow $base-timing ease-in-out;


$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 1.438rem;

$input-border-color: #d4dbe0;

$base-layout-bg-left      : rgba(238, 243, 246, 0.3);
$base-layout-bg-right     : #ebf1f5;

$paragraph-color: #333748;
$gray-section-bg: #fafafa;
