<nav id="navigation" class="navigation">
  <div class="container">
    <a href="#header" class="navigation__branding scroll-link">Cantaba</a>
    <ul class="navigation__sections">
      <li><a class="scroll-link" href="#features">Features</a></li>
      <li><a class="scroll-link" href="#blueprint">Blueprint</a></li>
      <li><a class="scroll-link" href="#contact">Contact</a></li>
    </ul>
    <ul class="navigation__social">
      <li><a href="https://www.facebook.com/buycantaba/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/buycantaba/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</nav>
